.footer {
    margin: 0;
    padding: 0;
}

.footer__contacts {
    margin: 0;
    padding: 0;
}

.footer__address {
    margin: 0;
    padding: 0;
}

.footer__logo-website {
    margin: 0;
    padding: 0;
}

.footer__social {
    margin: 0;
    padding: 0;
}

.footer__logo-academy {
    margin: 0;
    padding: 0;
}