.footer {
    margin: 0;
    padding: 0;
}

.footer__contacts {
    margin: 0;
    padding: 0;
}

.footer__address {
    margin: 0;
    padding: 0;
} 

.footer__location {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 367px;
    background-color: #f2f2f2;
    position: relative;
}

.footer__iframe {
    width: 100%;
    height: 362px;
    position: relative;
    z-index: 10;
}


.footer__img-location {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 362px;
    z-index: 9;
}

.footer__logo-website {
    margin: 0;
    padding: 0;
}

.footer__social {
    margin: 0;
    padding: 0;
}

.footer__logo-academy {
    margin: 0;
    padding: 0;
}