.logo {
    margin: 0;
    padding: 35px 0 15px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f2f2f2;
}

.logo__text {
    margin: 0;
    padding: 0;
}

.logo__image {
    margin: 0 96px;
    padding: 0;
}