.socials {
    margin: 0 20px;
    padding:  18px 0 0;
    border-bottom: 1px solid #e6e6e6;
    background-color:  #f2f2f2;

    @media (min-width: @t) {
        margin: 0;
        border-bottom: none;
        padding-top: 39px;
        width: 160px;
        margin-left: 73px;
    }
}

.socials__list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socials__item {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
}

.socials__link {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 17px;
    margin-bottom: 22px;
color: #666666;
}

.socials__link:hover {
    color: #68b738;
}

.socials__link:focus {
    color: #68b738;
}

.socials__link:active {
    opacity: 0.3;
}
