.how {
    margin: 0;
padding: 0 20px 27px;
}

.how__title {
    margin: 0 auto;
    padding: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    width: 230px;
    margin-bottom: 42px;
}

.how__list {
    margin: 0;
    padding: 0;
}

.how__item {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 26px;
}

.how__description {
    margin: 0;
    padding: 0;
    color: #444444;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 79px;
    width: 227px;
}

