.programms {
    margin: 0;
    padding: 0;
}

.programms__list {
    margin: 0;
    padding: 0 20px;
}

.programms__item {
    background-color: #F2F2F2;
    margin: 0;
    padding: 31px 0 14px 0;
    position: relative;
    margin-bottom: 19px;
    list-style: none;
}

.programms__title {
    margin: 0 50px 29px 90px;
    padding: 0;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
}

.programms__description {
    font-family: "Lato";
    color: #444444;
    margin: 0 20px 42px 20px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.programms__link {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    width: 135px;
    min-height: 24px;
    color: #000000;
    text-decoration: none;
    margin-left: 21px;
    margin-right: 50px;
}