.result {
    padding: 19px 23px 0;
    margin: 0 auto;

    @media (min-width: @t) {
        padding: 0;
        margin: 0;

        @media (min-width: @d) {
            margin-left: 40px;
            margin-bottom: 44px;
        }
    }
}

.result__list {
    padding: 0;
    margin: 0;
    width: 125px;
    min-height: 70px;
    text-align: center;

    @media (min-width: @t) {
        padding: 0;
        margin: 0;
        width: 165px;
    }
}

.result__term {
    padding: 15px 16px 16px;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    box-sizing: border-box;

    @media (min-width: @t) {
        padding: 15px 26px 19px;
        font-size: 30px;
        line-height: 37px;
        width: 162px;
    }
}

.result__description {
    padding: 0;
    margin: -10px auto 0;
    font-family: @lato;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    width: 77px;
    color: #444444;
    background-color: #eaeaea;

    @media (min-width: @t) {
        font-size: 14px;
        line-height: 14px;
        background-color: #ffffff;
        width: 135px;
        margin: -10px 13px 0;
    }
}